<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content class="dialog-content">
  <p>Título de la película</p>
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="movieTitle">
    <mat-error *ngIf="hasErrors">Debe completar el título</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="saveMovie()" cdkFocusInitial>Save</button>
</div>
